# Python bytecode
__pycache__/
*.py[cod]
*$py.class
*.so

# Django
db.sqlite3
db.sqlite3-journal
/media/
/staticfiles/
local_settings.py

# Env files
.env
.env.local
.env.*.local

# Unit test / coverage reports
htmlcov/
.tox/
.nosetests
.pytest_cache/
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover

# Environments
.venv/
venv/
ENV/
env/
